@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#containerDiv {
    display: grid;
}

#header-container {
    display: grid;

    background-color: lightsalmon;
    border: 1px solid yellow;
}

#sidebar-container {
    display: grid;

    background-color: lightskyblue;
    border: 1px solid yellow;

}

#main-section-container {
    display: grid;

    background-color: lightslategray;
    border: 1px solid yellow;

}

section {
    background-color: lightseagreen;
    border: 1px solid yellow;

}

article {
    background-color: lightgreen;
    border: 1px solid yellow;

}